aiofiles
ao3.py @ git+https://github.com/Sachaa-Thanasius/ao3.py.git
arsenic
asyncpg==0.28.0
asyncpg-stubs==0.28.0
atlas-api @ git+https://github.com/Sachaa-Thanasius/atlas-api-wrapper.git
beautifulsoup4>=4.12.2
discord.py[speed,voice]>=2.3.2
fichub-api @ git+https://github.com/Sachaa-Thanasius/fichub-api-wrapper.git
jishaku @ git+https://github.com/Gorialis/jishaku@bf26bea3c1f86993fd75744de48bf52d4925521a
lxml>=4.9.3
matplotlib
msgspec[toml]
numpy
openai
Pillow>=10.0.0
tatsu @ git+https://github.com/Sachaa-Thanasius/Tatsu.git
typing_extensions>=4.5.0,<5
wavelink>=2.6.1,<3
yarl>=1.8.2,<2
